/* - Soft red: hsl(7, 99%, 70%)
- Yellow: hsl(51, 100%, 49%)
- Dark desaturated cyan (graphic design text): hsl(167, 40%, 24%)
- Dark blue (photography text): hsl(198, 62%, 26%)
- Dark moderate cyan (footer): hsl(168, 34%, 41%)

### Neutral

- Very dark desaturated blue: hsl(212, 27%, 19%)
- Very dark grayish blue: hsl(213, 9%, 39%)
- Dark grayish blue: hsl(232, 10%, 55%)
- Grayish blue: hsl(210, 4%, 67%)
- White: hsl(0, 0%, 100%) */

/* Variable CSS */
:root {

  /* Colors */

  /* HSL Color Mode */
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --desaturated-cyan-dark: hsl(167, 40%, 24%);
  --dark-blue: hsl(198, 62%, 26%);
  --moderate-cyan-dark: hsl(168, 34%, 41%);

  --desaturated-blue-dark: hsl(212, 27%, 19%);
  --grayish-blue-very-dark: hsl(213, 9%, 39%);
  --grayish-blue-dark: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);
}

.fraunces-txt {
  font-family: "Fraunces", serif;
}

.barlow-txt {
  font-family: "Barlow";
}

/* Base CSS -- Reset Browser Defaults */
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
  
html {
  scroll-behavior: smooth;
}
  
body {
  margin: 0;
  overflow-x: hidden;
}

/* Custom CSS */

.home {
  background-image: url(./images/mobile/image-header.jpg);
  background-position: center;
  background-size: cover;
}

.heading{
  display: grid;
  text-align: center;
  grid-template-columns: 1fr;
}

h1 {
  font-family: 'Fraunces', serif;
  font-size: 2.25rem;
  color: var(--white);
  letter-spacing: 8px;
  font-weight: 700;
}

.page-title {
  display: grid;
  justify-content: center;
  padding-top: 15vh;      
}

nav {
  background-color: transparent;
  color: var(--main-color);
  background-color: #3ebffe;
  grid-template-columns: 1fr 1fr;
  position: fixed;
  width: 100%;
  z-index: 1;
  padding: 2rem;
}

.nav_menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

/* Arrow Image */
.arrowContainer {
  display: flex;
  justify-content: center;
  padding: 4rem 0 8rem 0;
}

nav {
    grid-template-columns: 1fr;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.nav_menu:before {
  content:"";
  position: absolute;
  right: 1rem;
  top: -0.25rem;
  width: 0;
  height: 0;
  border: 0;
  z-index:9999;
}

.nav_menu:after {
  content:"";
  position: absolute;
  right: 0;
  top: -1.75rem;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0px 0px 30px 30px;
  border-color: transparent transparent var(--white) transparent;
  z-index:9998;
}

  
.nav_menu {
  background-color: var(--white);
  display: grid;
  justify-items: center;
  margin: 0;
  width: 200px;
  z-index: 99999;
  position: fixed;
  top: -100%;
  width: 80%;
  grid-template-columns: 1fr;
  padding: 0.5rem 0;
}

.nav_menu a {
  font-family: 'Barlow';
  width: 5rem;
  display: flex;
  width: 45%;
  color: var(--grayish-blue-very-dark);
  justify-content: center;
  margin: 1rem;
  font-size: 1.25rem;
  font-weight: 500;
  text-decoration: none;
}

.show-menu {
  display: grid;
  padding-top: 1rem;
  padding-bottom: 1rem;
  top: 15%;
  right: 2rem;
  background-color: var(--white);
}

.nav_menu .contact_link {
  background-color: var(--yellow);
  color: var(--desaturated-blue-dark);
  font-family: 'Fraunces';
  font-size: 1rem;
  text-transform: uppercase;
  padding: 1rem 4rem;
  align-self: center; 
  border-radius: 2rem;
}

/* Transform Section */
.article-content {
  display: grid;
  justify-content: center;
  text-align: center;
  row-gap: 1rem;
  padding: 2rem 1.5rem;
}

.article-content h2 {
  font-size: 2rem;
  color: var(--desaturated-blue-dark);
}

.article-content p {
  font-size: 1rem;
  font-weight: 400;
  color: var(--grayish-blue-very-dark);
}

.article-content a {
  text-transform: uppercase;
  position: relative;
  color: var(--desaturated-blue-dark);
  text-decoration: none;
}

.article-content a::before {
  content: "";
  position: absolute;
  bottom: 5%;
  left: 50%;
  width: 8rem;
  height: 7px;
  transform: skew(0deg) translateX(-50%);
  
  opacity: 0.3;
  z-index: -1;
  border-radius: 3rem;
}

.yellow-bg::before {
  background: var(--yellow);
}

.soft-red-bg::before {
  background: var(--soft-red);
}

.image-stand-out, .image-transform {
  width: 100%;
}


/* Services */

.image-graphic-design, .image-photography {
  display: grid;
  position: absolute;
  width: 100%;
}

.services-article > .article-content {
  display: grid;
  position: relative;
  padding-top: 100%;
}

.services-article h2 {
  margin-top: 1rem;
}

.services-article p {
  font-size: 1rem;
  margin: 1rem auto 2rem auto;
  line-height: 1.5rem;
}

.graphic-design-content h2, .graphic-design-content p {
  color: var(--desaturated-cyan-dark);
}

.photography-content h2, .photography-content p {
  color: var(--dark-blue);
}

/* ------------ */
/* Testimonials */
/* ------------ */
.testimonials {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  padding: 1rem; 
}

.testimonials h2 {
  text-transform: uppercase;
  margin: 3rem auto;
  font-size: 1rem;
  color: var(--grayish-blue);
  letter-spacing: 5px;
}

.testimonial-list {
  display: grid;
  grid-template-columns: 1fr;
}

.testimonial {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  margin: 1rem 1.75rem 4rem 1.75rem;
}

.testimonial img {
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  margin-bottom: 2rem;
}

.testimonial p {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 2rem;
  color: var(--grayish-blue-very-dark);
  text-align: center;
  font-weight: 500;
}

.testimonial h4 {
  margin-bottom: 0.5rem;
}

.testimonial span {
  font-size: 0.75rem;
  color: var(--grayish-blue-dark);
}

/* -------- */
/* Projects */
/* -------- */
.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.projects img {
  width: 100%;
}


/* ------ */
/* Footer */
/* ------ */
footer {
  background-color: #90d4c5;
  display: grid;
  padding-top: 4rem;
  row-gap: 3rem;
}

.footer-logo {
  display: grid;
  justify-self: center;
  transform: scale(1.5);
}

.footer-navigation {
  display: flex;
  flex-direction: row;
  column-gap: 4rem;
  justify-content: center;
  width: 100%;
  margin-bottom: 2rem;
}

.footer-navigation a {
  color: var(--moderate-cyan-dark);
  text-decoration: none;
}

.footer-socials {
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
  justify-content: center;
  width: 100%;
  margin-bottom: 3rem;
}

@media (min-width:1440px) {

  .home {
    background-image: url(/images/desktop/image-header.jpg);
    height: 100vh;
  }

  .page-title {
    padding-top: 25vh;
  }

  h1 {
    font-size: 3.5rem;
    font-weight: 900;
  }

  .nav_menu {
    top: 0;
    box-shadow: none;
    display: flex;
    background-color: transparent;
    justify-content: end;
    column-gap: 0.5rem;
    width: 100%;
    padding-right: 5rem;
    color: var(--white);
  }

  .nav_menu a {
    font-size: 1rem;
    display: flex;
    width: 7rem;
    color: var(--white);
    margin: 1rem 0 0 0;
    padding: 1rem 0;
    border-radius: 3rem;
  }

  .nav_toggle {
    display: none;
  }

  .nav_menu .contact_link {
    color: var(--desaturated-blue-dark);
    font-family: "Fraunces";
    background-color: var(--white);
  }

  .navbar img {
    margin-top: 1rem;
    size: 3rem;
  }

  .arrowContainer {
    padding-top: 6rem;
  }

  article {
    display: flex;
    flex-direction: row;
  }

  .transform-article {
    flex-direction: row-reverse;
  }

  .image-stand-out, .image-transform, .stand-out-content, .transform-content  {
    width: 50vw;
  }

  .image-stand-out {
    content: url(images/desktop/image-stand-out.jpg);
  }

  .image-transform {
    content: url(images/desktop/image-transform.jpg);
  }

  .article-content {
    grid-template-columns: 1fr;
    row-gap: 3rem;
    align-content: center;
    justify-items: start;
    padding: 0 9rem;
    font-weight: 900;
    width: 50vw;
  }

  .article-content h2 {
    font-size: 2.75rem;
    text-align: start;
  }  

  .article-content p {
    text-align: start;
    row-gap: 0.5rem;
    font-size: 1.125rem;
    line-height: 2rem;
  }

  .article-content a {
    font-weight: 900;
  }

  .services {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .image-graphic-design, .image-photography {
    width: 50vw;
  }

  .image-graphic-design {
    content: url("/images/desktop/image-graphic-design.jpg");
  }

  .image-photography {
    content: url("/images/desktop/image-photography.jpg");
  }

  .services-article > .article-content {
    padding-top: 50%;
    row-gap: 1rem;
    justify-items: center;
  }

  .services-article h2 {
    font-size: 2rem;
  }

  .services-article p {
    text-align: center;
    width: 80%;
  }

  .testimonials h2 {
    margin-top: 15vh;
    font-size: 1.25rem;
  }

  .testimonial-list {
    grid-template-columns: 1fr 1fr 1fr;
    width: 80%;
  }

  .testimonial p {
    font-size: 1.125rem;
    margin-bottom: 4rem;
  }

  .testimonial h4 {
    font-size: 1.25rem;
    margin-bottom: 0.75rem;
  }

  .testimonial span {
    font-size: 0.9rem;
  }

  .projects {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  #milk-bottles-image {
    content: url(images/desktop/image-gallery-milkbottles.jpg);
  }

  #orange-image {
    content: url(images/desktop/image-gallery-orange.jpg);
  }

  #cone-image {
    content: url(images/desktop/image-gallery-cone.jpg);
  }

  #sugar-cubes-image {
    content: url(images/desktop/image-gallery-sugarcubes.jpg);
  }

}